
.create-btn {color:white;}
.create-btn:hover {color:white;text-decoration:none;}
.create-btn:focus {color:white;text-decoration:none;}

.create-btn-label {font-family:verdana;font-size:16px;}

.no_checkbox>i.jstree-checkbox
{
    display:none
}

/* override some bootstrap widths */
.initquery { 
    min-width: 640px !important;
    max-width: 1280px !important;
    min-height: 32px !important;
    max-height: 80px !important;
/*     width: 600px !important; */
/*     height: 40px !important; */
}
.legendgraphic {
    width: 250px !important;
}
.namelabel {
    width: 250px !important;
}
.namespace {
    width: 350px !important;
}
